.main{
  border: 1px solid black;
  background-color: #262626;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  min-height: 100vh;
  background-image: url("kirbybackground.png");
  background-position-x: center;
  background-position-y: center;
}
/* 
img{
  position: fixed;
   top: 0;
   left: 0;
   right: 0;
   background-size: auto 100%;
   z-index: -1;
   filter: brightness(45%);
   height: 100%;
   width: 100%;
} */

.header{
  border: 1px solid black;
  width: 100%;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header-left{
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-grow: 3;
}

.header-right{
  border: 1px solid black;
  display: flex;
  font-family: ;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-grow: 2;
}

.body{
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  min-height: 80vh;
  width: 70em;
}

.body-left{
  border: 1px solid #c411ff;
  width: 50%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.body-right{
  border: 1px solid black;
  width: 50%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}


.footer{
  border: 1px solid black;
  width: 100%;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: #000000;
}


.footer-left{
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-grow: 3;
}


.canvas-div{
  position:relative;
  width: 900px;
  height: 600px;
}

canvas{
  position: absolute;
  width: 900px;
  height: 600px;
  cursor:none;
}

.front-canvas{
  z-index: 5;
}

.back-canvas{
  z-index: 2;
}

.mouse-vis-canvas{
  cursor: pointer;
}