.main{
  border: 1px solid black;
  background-color: #262626;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  min-height: 100vh;
  background-image: url("kirbybackground.png");
  background-position-x: center;
  background-position-y: center;
}

.header{
  width: 100%;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 2px solid black;
  margin-bottom: 10px;
}

.header p{
  font-size: 28px;
  font-weight: 800;
}

.header a{
  font-size: 40px;
  text-decoration: none;
  color: #f741d3;
  color: #fd69f1;



  color: #ff90f6;
}

.body{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  min-height: 80vh;
  width: 70em;
}

.canvas-div{
  position:relative;
  width: 900px;
  height: 600px;
}

canvas{
  position: absolute;
  width: 900px;
  height: 600px;
  cursor:none;
}

.front-canvas{
  z-index: 5;
}

.back-canvas{
  z-index: 2;
}

.mouse-vis-canvas{
  cursor: pointer;
}